/*general*/
*{
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

h1{
color: red;
text-align: center;
padding-bottom: 30px;
padding-top: 30px;
}


/*header*/
div.user-box .son{
  background-color: white;
}
.clearfix::after{
  content: "";
  clear: both;
  display: table;
}

div.user-box{
  width: calc(100% / 3);
  float: left;
  padding: 10px;
  
  }



.clearfix::after{
  content: "";
  clear: both;
  display: table;
}

img{float: left;
  width: 35%;

}

h3,p{
  color: white;
}

a{
  color: cornflowerblue;
}

p.intro{
  text-align: center;
  color: black;
  padding-bottom: 30px;
}

.container{
  width: 100%;
  background-color: rgb(255, 255, 255);
  
}

.user-box{
  background-color: black;
  
}


/*main*/


/*footer*/