/*general*/
*{
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

h1{
color: red;
text-align: center;
padding-bottom: 30px;
padding-top: 30px;
}


/*header*/

div.user-box{
  padding: 30px;
  margin: 25px;
  box-sizing: 20px;
  float: left;
  }

.clearfix::after
    content: "";
    clear: both;
    display: table;


img{float: left;

}

h3,p{
  color: white;
}

a{
  color: cornflowerblue;
}

p.intro{
  text-align: center;
  color: black;
}

.container{
  width: 100%;
  background-color: rgb(255, 255, 255);
  
}

.user-box{
  background-color: black;
  
}


/*main*/


/*footer*/